* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 565px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	overflow: hidden;
}

.div-body {
	position: relative;
	padding: 10px;
	width: 100%;
	left: 0px;
	transition: left 1s;
}
.div-body p {
	margin-top: 10px;
	line-height: 1.5;
}
.p-author {
	text-align: right;
}
.btn-next {
	position: relative;
}
