* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: helvetica neue, Helvetica, Arial, sans-serif;
}

/* logo and navigation links */
div.nav {
	background: #2f7fca;
}

div.logo {
	text-align: center;
	font-weight: 900;
	font-size: 1.4em;
	padding: 10px 0;
}
div.logo a {
	text-decoration: none;
	color: #fff;
}

div.nav .navlinks {
	overflow: hidden;
	padding: 5px 10px;
}
div.nav .navlinks a {
	text-decoration: none;
	font-weight: 900;
	color: #cecece;
	width: 112px;
	text-align: center;
}
div.nav .navlinks a:first-child {
	float: left;
}
div.nav .navlinks a:last-child {
	float: right;
}
div.nav .navlinks a.active {
	color: #fff;
}
div.nav .navlinks a:hover {
	color: #fff;
}

/* main div for app */
.container {
	position: relative;
	margin-top: 10px;
}

.div_mainbody {
	max-height: 640px;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	background: #fff;
	color: #111;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-color: #f0f0f0 #ececec #dfdfdf;
	box-shadow: 0 1px 3px #ccc;
}

div.notification {
	max-width: 640px;
	margin: 5px auto;
	border-radius: 5px;
	line-height: 2;
	text-align: center;
	transition: opacity 3.5s;
}
div.notification.success {
	background: #009688;
	color: #fff;
}
div.notification.fail {
	background: #f44336;
	color: #fff;
}

/* start table */
.tbl_container {
	position: relative;
	margin-top: 10px;
	max-width: 900px;
	margin: 0 auto;
}
div.tbl_data {
	height: 600px;
	overflow-y: scroll;
}
.tbl_head {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 4px;
}
.tbl_head td {
	font-weight: 900;
}
.tbl_body td {
	padding: 8px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	height: 50px;
	text-align: center;
}
.tbl_head td,
.tbl_body td {
	text-align: center;
}
.tbl_head td:nth-child(1),
.tbl_body td:nth-child(1) {
	width: 40px;
}
.tbl_head td:nth-child(2),
.tbl_body td:nth-child(2) {
	width: 190px;
}
.tbl_head td:nth-child(3),
.tbl_body td:nth-child(3) {
	width: 500px;
}
.tbl_head td:nth-child(4),
.tbl_body td:nth-child(4) {
	width: 150px;
}

.tbl_head td:nth-child(4) button {
	padding: 8px 15px;
	font-family: helvetica neue, Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-color: #ca2f2f;
	color: #fff;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.tbl_head td:nth-child(4) {
	padding-right: 20px;
}
.tbl_head td:nth-child(4) button {
	background-color: #2f7fca;
}
.tbl_body td:nth-child(4) select {
	padding: 5px;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

table tr:hover {
	background-color: beige;
}
.tbl_head tr:hover {
	background-color: #fff;
}
/* end table */

/* main app in index */
.div_container_text {
	min-height: 245px;
	overflow: hidden;
}
.div_text {
	position: relative;
	padding: 10px;
	width: 100%;
	left: 0px;
	transition: left 0.3s;
}
.div_text p:first-child {
	line-height: 1.4;
	font-size: 20px;
	font-weight: 300 !important;
}
.div_text p:last-child {
	color: #00a;
	padding-top: 10px;
	text-align: right;
	font-size: 16px;
	font-weight: 700 !important;
}
.div_text p:last-child:before {
	content: "- ";
}

.div_button {
	background-color: #f9f9f9;
	text-align: center;
	border-top: 1px solid #e0e0e0;
	padding: 5px 10px;
	overflow: hidden;
}

.div_button a.next {
	background-color: #2f7fca;
	color: #fff;
	float: left;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px 10px;
}

.div_button a.sharefb,
.div_button a.sharetw {
	float: right;
	margin-left: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px 10px;
}

.div_button a:hover {
	background-color: #fff;
	color: #111;
	cursor: pointer;
}

div.error {
	margin: 50px auto;
	width: 400px;
	text-align: center;
	color: #DD0000;
	height: 200px;
	width: 320px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.div_submit {
	width: 100%;
	padding: 7px;
	overflow: hidden;
}
.div_submit:first-child {
	padding-top: 15px;
}
#p_author_limit,
#p_bodytext_limit {
	display: none;
	color: red;
	text-align: right;
}
#author,
#bodyText {
	font-family: helvetica neue, Helvetica, Arial, sans-serif;
	width: 99%;
	padding: 5px;
	font-size: 1em;
	border-radius: 5px;
	border: 1px solid #ccc;
}
#bodyText {
	height: 150px;
	line-height: 1.5;
	resize: none;
}
.div_submit > button {
	font-family: helvetica neue, Helvetica, Arial, sans-serif;
	padding: 5px;
	font-size: 1em;
	background-color: #2f7fca;
	color: #fff;
	cursor: pointer;
	float: left;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px 10px;
	width: 100px;
	margin-left: 10px;
}
.div_submit > button#btn_clear {
	background-color: #ca2f2f
}
.div_submit > button.disabled {
	background-color: #ccc;
}

@media (min-width: 768px) {
	.div_text p#ptext {
		font-size: 1.8em;
	}
	.div_text p#pauthor {
		font-size: 1.4em;
	}
	.div_container_text {
		min-height: 260px;
	}
	#bodyText {
		height: 90px;
	}
	div.nav {
		background: #2f7fca;
		height: 46px;
		width: 100%;
	}
	div.nav div.logo {
		float: left;
		padding-left: 100px;
	}
	div.nav div.navlinks {
		float: right;
		height: 100%;
		padding-top: 13px;
		padding-right: 100px;
	}
	div.nav div.navlinks a {
		padding-top: 2px;
		padding-left: 10px;
	}
}
